services:
  terraria:
    image: 'jacobsmile/terraria1.4:1449'
    container_name: terraria-server
    tty: true
    stdin_open: true
    restart: always
    ports:
      - '7777:7777'
    volumes:
      - 'terraria_data:/home/terraria/.local/share/Terraria/Worlds'
    environment:
      - TERRARIA_USECONFIGFILE=No
      - TERRARIA_WORLDNAME=DaniServer
      - TERRARIA_WORLDSIZE=3
      - TERRARIA_WORLDSEED=sigma
      - TERRARIA_DIFFICULTY=2
      - TERRARIA_WORLDEVIL=2
      - TERRARIA_MAXPLAYERS=8
      - TERRARIA_PASS=${TERRARIA_PASS:-sigma67}
      - TERRARIA_MOTD=This is so sigma!
      - TERRARIA_SHUTDOWN_MESSAGE=Server shutting down sigmas!
      - TERRARIA_AUTOSAVE_INTERVAL=15
  playit:
    image: ghcr.io/playit-cloud/playit-agent:0.16
    restart: always
    container_name: playit-tunnel
    network_mode: service:terraria
    environment:
    - SECRET_KEY=${PLAYIT_SECRET_KEY}
volumes:
  terraria_data: