services:
  terraria:
    image: 'jacobsmile/terraria1.4:1449'
    container_name: terraria-server
    tty: true
    stdin_open: true
    restart: always
    ports:
      - '7777:7777'
    volumes:
      - 'terraria_data:/root/.local/share/Terraria/Worlds'
      - './config.txt:/root/terraria-server/serverconfig.txt'
    environment:
      - TERRARIA_USECONFIGFILE=Yes
      - TERRARIA_PASS=${TERRARIA_PASS:-sigma67}
      - TERRARIA_SHUTDOWN_MESSAGE=Server shutting down!
      - TERRARIA_AUTOSAVE_INTERVAL=15

volumes:
  terraria_data: